doctype html
html(lang='en')
	head
		title Landing Page
	body
		h1 The future home of something magical
		p Mallet herbs basil nest, in welding equipment pens quail. Ewes mushrooms zucchini in forage Harvester at sheep with tractor. Hoot squeal moose quack, crows doggies frogs crickets chirp. Brussel sprouts cow, rabbits a gates a, storage she.